<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hasba/IdeaProjects/FrameworkOne/src/test/java/qa/tests/TestCase1.java">
        <classes>
            <class name="qa.tests.LoginPageTest">
                <methods>
                    <include name="sampleMethodForEnteringCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>